:root {
    --color1: #bea6a0;
    --color2: #d5cabd;
    --color3: #4b4453;
    --color4: #845ec2;
  }
  
/* Global Reset */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
}
/* Google Fonts  */
@import url('https://fonts.googleapis.com/css2?family=Montserrat&family=Poppins&display=swap');

/* general styles */
body, html {
    background-color: #07080d;
    }

    /* nav styles */
    #navbar {
        position: fixed;
        top: 0;
        left: 0;
        width: 100%;
        background-color: rgba(0, 0, 0, 0.829);
        padding: 20px;
      }
      
      .nav-link {
        display: flex;
        justify-content: center;
        gap: 30px;
        list-style-type: none;
        color: white;
        text-decoration: none;
        font-family: 'Montserrat', sans-serif;
        padding-right: 20px;
        font-weight: 600;
      }
      
      h6 {
        color: white;
        font-size: 20px;
        font-family: 'Montserrat', sans-serif;
        padding-left: 6px;
        font-weight: 500;
        display: flex;
        align-items: center;
    }

    .fa-magnifying-glass:before, .fa-search:before {
        content: "\f002";
        color: white;
        display: flex;
        margin-top: 20px;
        font-size: 20px;
    }

    i.fa-solid.fa-face-smile {
        color: white;
        font-size: 25px;
        display: flex;
        margin-top: 20px;
    }

    .fa-chevron-down:before {
        content: "\f078";
        color: white;
        display: flex;
        margin-top: 24px;
        margin-left: 50px;
    }
     
    .circle{
        background-color: rgb(61, 165, 184);
        padding: 23px;
        border-radius: 100%;
        color: white;
    }

    .fa-film:before {
        content: "\f008";
        color: white;
        font-size: 34px;
    }
    h1{
        color: white;
    }
    .arrow{
        color: white;
    }
      .nav-link a {
        color: var(--color2);
        text-decoration: none;
      }
      
      #toggler {
        position: fixed;
        top: 20px;
        right: 20px;
        display: none;
      }
      
      @media screen and (max-width: 768px) {
        .nav-links {
          flex-direction: column;
          height: 100vh;
          align-items: center;
        }
      
        #navbar {
          top: -110vh;
          transition: all 0.6s linear;
        }
        #navbar.active {
          top: 0;
        }
        #toggler {
          display: block;
        }
      }

      #nav-end{
          display: flex;
          justify-content: end;
            display: flex;
            justify-content: flex-end;
            margin-left: 350px;
         gap: 30px;
        }

       #Logo{
             margin-left: 450px;
       }
    /* landing page styles */
    #home{
        margin-top: 10rem;
    }

    .row {
       display: flex;
       padding-left: 10px;
    }

    .show-name{
       color: rgb(196, 196, 196);
       font-family: 'Montserrat', sans-serif;
       padding-bottom: 10px;
       padding-left: 20px;
    }

    .card{
        width: 500px;
        height: 300px;
        border: 10px 10px 10px 10px;
    }

    #card{
        padding-right: 40px;
        width: 400px;
        height: 200px;
        border: 10px 10px 10px 10px;
    }
     
    .movie{
        
    }

    img.movie {
        width: 248px;
        height: auto;
        aspect-ratio: 1;
        object-fit: contain;
        gap: 10px;
        border-radius: 10px 10px 10px 10px;
    }
    
    #movie-card{
            width: 259px;
            height: 300px;
            padding: 10px;
            transition: 0.5s all ease-in-out;
        }
        
        #movie-card:hover {
            width: 259px;
            height: 300px;
            padding: 10px;
            transform: scale(1.1);
            opacity: 0.5;
        }
        
        #movie-column{
            padding: 0px;
    }
    
    .show{
        /* width: 500px; */
        height: 300px;
        object-fit: contain;
        aspect-ratio: 1;
        padding: 5px;
        width: 100%;
        transition: 0.5s all ease-in-out;
    }
    
    .show:hover{
        transform: scale(1.1);
        opacity: 0.5;
    }
    .show1{
        /* width: 533px; */
        height: 290px;
        object-fit: contain;
        aspect-ratio: 1;
        padding: 5px;
        border-radius: 10px 10px 10px 10px;
        width: 100%;
        transition: 0.5s all ease-in-out;
    }
    
    .show1:hover{
        transform: scale(1.1);
    }

    .live-channels{
        padding: 10px;
        color: rgb(196, 196, 196);
        font-family: 'Montserrat', sans-serif;
        padding-left: 20px;
        padding-top: 50px;
    }

    .channel{
        border-radius:  6px 6px 6px 6px;
    }

    #channel {
        width: 263px;
        transition: 0.5s all ease-in-out;
        max-width: 100%;
        height: auto;
    }

    #channel:hover{
        transform: scale(1.1);
    }

    img.channel {
        width: 248px;
        height: auto;
    }
    .column {
        display: flex;
        flex-direction: row;
        padding: 15px;
        align-items: center;
    }

    /* Tablet Media Queries */
    @media only screen and (max-width: 1200px){
        .row {
            display: flex;
            justify-content: center;
            padding-left: 10px;
            flex-direction: column;
        }
    }
    
    @media only screen and (max-width: 1200px){
        .column {
            display: flex;
            justify-content: center;
            flex-direction: column;
            padding: 30px;
        }
    }
    
        /* Big Mobile Media Queries */
    @media only screen and (max-width: 600px){
        .row {
            display: flex;
            justify-content: center;
            padding-left: 10px;
            flex-direction: column;
        }
    }
    @media only screen and (max-width: 600px){
        .column {
            display: flex;
            justify-content: center;
            flex-direction: column;
            padding: 30px;
        }
    }

    /* Small Mobile Media Queries */
    @media only screen and (max-width: 425px){
        .row {
            display: flex;
            justify-content: center;
            padding-left: 10px;
            flex-direction: column;
        }
    }

    @media only screen and (max-width: 425px){
        .column {
            display: flex;
            justify-content: center;
            flex-direction: column;
            padding: 30px;
        }
    }